<!doctype html>
<html class='no-js' lang='en-us'>
    <head>
        <title>{{ meta.title }}</title>
        <meta name='viewport' content='width=device-width, initial-scale=1'>
        <link rel='author' href='http://domain/humans.txt'>
        <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Cantarell:400,400italic,700italic,700'>
        {% assets 'styles' %}
        <link rel='stylesheet' href='{{ ASSET_URL }}'>
        {% endassets %}
    </head>
    <body>
    
        <header>
            <h1><a href='/'>Bytelog</a></h1>
            <nav>
                <ul>
                    <li><a href='/'>Read</a></li>
                    <li><a href='/projects'>Projects</a></li>
                    <li><a href='/author'>Author</a></li>
                    <li><a href='/about'>About</a></li>
                </ul>
                <input type='search' placeholder='Search by Title or Keyword'>
            </nav>
        </header>

        <main>
            {% block primary %}{% endblock %}
        </main>

        <footer>
            <a href='/humans.txt'>Humans</a> &middot;
            <a href='/privacy'>Privacy</a> &middot;
            <a href='/feed'>Feed</a> &middot;
            <a href='/sitemap'>Sitemap</a> &middot;
            <a href='#'>Source</a>
        </footer>

        {% assets 'scripts' %}
        <script src='{{ ASSET_URL }}'></script>
        {% endassets %}
    </body>
</html>
