// Fonts
$code: 'sans-serif';
$normal: Oxygen, sans-serif;
$heading: Crimson Text, serif;


$modular-scale-base: 1.6rem;
$modular-scale-ratio: $major-third;

$xs: modular-scale(-2);
$s: modular-scale(-1);
$m: modular-scale(0);
$l: modular-scale(1);
$xl: modular-scale(2);
$xxl: modular-scale(3);

// Colors
$text-dark: #ccc;
$text-light: #eee;
$text-em: #bdd;

//$shape-dark: #355; //#3D5C5A;
$shape-dark: #19181e;
$shape-light: #eee;


// Layout
$side-width: 270px;
$main-width: 50em;